
@{
    ViewBag.Title = "Home page";
    Layout = "~/Views/Layout/_LayoutAdminDashboard.cshtml";
}
<section class="content-header">
    <h1>
        Home page
        <small>Displayed</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="/"><i class="fa fa-dashboard"></i> Home page</a></li>
    </ol>
</section>

